.git
.venv
__pycache__
*.pyc
.DS_Store
.mypy_cache
.pytest_cache
build
dist
wheels
*.egg-info

annotation/classification
annotation/train
annotation/valid
annotation/test
annotation/*.yolov5pytorch
annotation/runs
annotation/yolov5s.pt

src/mahjong_calc_point/classifier
